@media print {
    button {
        display: none;
    }
}

.hidden {
      display: none;
    }

button,
input[type="button"],
input[type="submit"] {
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* standard */
  touch-action: manipulation; /* migliora il tap su mobile */
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button_negativo {
    background-color: #FFFFFF;
    color: #007BFF;
    border-style: solid;
    border-color: #007BFF;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background: linear-gradient(to bottom right, #f4f9ff, #ffffff);
    line-height: 1.6;
    color: #333;
}

h1 {
    color: #1f2937;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #1f2937;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
    background-color: #fff;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 8px;
}

.checkbox-group label,
.radio-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.section {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.note {
    font-style: italic;
    font-size: 0.9rem;
    color: #6b7280;
    margin-top: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;

}

