/* Stili per la stampa */
@media print {
  button {
    display: none;
  }
}

.hidden {
  display: none;
}

button,
input[type="button"],
input[type="submit"] {
  -webkit-user-select: none;
  /* Safari/Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* standard */
  touch-action: manipulation;
  /* migliora il tap su mobile */
}

button {
  background-color: #004e98;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.6rem;
  border-radius: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_negativo {
  background-color: #FFFFFF;
  color: #004e98;
  border-style: solid;
  border-color: #004e98;
  padding: 10px 20px;
  font-size: 1.4rem;
  border-radius: 0.7em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bottone-togli {
  color: #e63946;
  border-radius: 0.5em;
  border: 2px solid #e63946;
  background-color: white;
  padding: 4px 18px 6px 18px;
  margin-top: 20px;
}

/* Corpo */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  line-height: 1.6;
  color: #333;
  background: linear-gradient(to bottom right, #f4f9ff, #ffffff);
  /* Tema chiaro */
  transition: background 0.3s, color 0.3s;
}

h1 {
  color: #1f2937;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  color: #1f2937;
  font-weight: bold;
  font-size: 1.8rem;
  border-bottom: 2px solid #c0c0c0;
  padding-bottom: 5px;
  margin-top: 20px;
}

.gruppo {
  padding: 30px;
  border-radius: 1.2em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.form-row {
  display: flex;
  align-items: center;
  margin: 22px 0px;
}

.form-row label {
  max-width: 150px;
  margin-right: 30px;
  font-weight: bold;
}

.form-row input {
  flex: 1;
  padding: 6px;
  box-sizing: border-box;
}

.tutte-in-riga {
  display: flex;
  /* mette le checkbox in riga */
  gap: 30px;
  /* spazio tra checkbox */
  align-items: center;
}

.form-row.con-riga-di-chechbox {
  display: flex;
  flex-direction: column;
  /* label sopra, checkbox sotto */
  align-items: flex-start;
  /* allinea tutto a sinistra */
  margin: 10px 0;
}


label {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  height: 40px;
  font-size: 1rem;
  border: 1px solid #c0c0c0;
  border-radius: 0.6em;
  margin-top: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

input[type="date"] {
  line-height: 1.2;
}


input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 8px;
}

.checkbox-group label,
.radio-group label {
  font-weight: normal;
  display: flex;
  align-items: center;
  margin: 6px 0;
  gap: 6px;
}

.input-stepper {
  display: flex;
  gap: 5px;
  align-items: stretch;
  margin-top: 10px;
}

.input-stepper input {
  flex: 1;
  height: 40px !important;
  padding: 0 10px;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 0.6em;
  box-sizing: border-box;
  margin: 0;
}

.input-stepper button {
  height: 40px;
  width: 40px;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1;
  border-radius: 0.6em;
  border: none;
  background-color: #004e98;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separa-linea label {
  display: flex;
  /* allinea radio, lettera e testo */
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  /* linea divisoria */
  gap: 8px;
  /* spazio tra radio e resto */
}

.separa-linea label:last-child {
  border-bottom: none;
  /* niente linea sull’ultimo */
}

.separa-linea b {
  margin-right: 10px;
  /* spazio tra lettera e descrizione */
  display: inline-block;
  font-weight: bold;
  font-size: 1.8rem;
  min-width: 20px;
  /* fissa spazio per allineare le lettere */
  text-align: center;
}

.important {
  border-left: 6px solid #ff6700;
  /* bordo arancione a sinistra */
  background-color: #ffdfc9;
  /* sfondo tenue arancione */
  padding: 12px 15px;
  margin: 15px 0;
  border-radius: 0.6em;
}

.important label {
  font-weight: bold;
}

/* Stile per la lista */
#tabs {
  display: flex;
  /* mette i <li> in orizzontale */
  justify-content: flex-start;
  /* centra la lista nella pagina */
  list-style: none;
  /* toglie i pallini */
  padding: 0;
  margin: 20px 0;
  overflow-x: auto;
  /* abilita lo scroll orizzontale */
  white-space: nowrap;
  scrollbar-width: thin;
}

#tabs::-webkit-scrollbar {
  height: auto;
  /* altezza scrollbar (Chrome/Safari/Edge) */
}

#tabs::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Stile per ogni tab */
#tabs .tab {
  flex: 0 0 auto;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.6em;
  background-color: #f2f2f2;
  transition: 0.3s;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Effetto hover */
#tabs .tab:hover {
  background-color: #ddd;
}

/* Tab attivo */
#tabs .tab.active {
  background-color: #4285f4;
  color: white;
  border-color: #4285f4;
}

#tab-content {
  border: 2px solid #4285f4;
  padding: 6px;
  border-radius: 0.6em;
  font-size: 1.2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/*stile del banner che compare quando si vuole eliminare una tab che è stata già parzialmente compilata*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 0.8em;
  text-align: center;
  max-width: 300px;
  width: 80%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.modal-buttons button {
  padding: 10px 20px;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

#confirmYes {
  background-color: #e63946;
  color: white;
}

#confirmNo {
  background-color: #ccc;
}


.section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 0.6em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.note {
  font-style: italic;
  font-size: 0.9rem;
  color: #6b7280;
  margin-top: 4px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

/* Input numerici senza spin */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

/* Accordion */
.accordion {
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 18px;
  background-color: #004e98;
  border-radius: 0.8em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin-top: 22px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Aggiungi la classe active per il cambio colore quando viene premuto */
.active,
.accordion:hover {
  background-color: #3a6ea5;
}

.accordion.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Gestione della transizione dell'altezza del pannello */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: max-height 0.3s ease-out;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  /* Transizione animata */
}

/* Verde */
td.verde input,
td.verde select {
  font-weight: bold;
  background-color: #d4edda;
  border: 1px solid green;
}

/* Giallo */
td.giallo input,
td.giallo select {
  font-weight: bold;
  background-color: #fff9cc;
  border: 1px solid goldenrod;
}

/* Arancione */
td.arancione input,
td.arancione select {
  font-weight: bold;
  background-color: #ffe0b3;
  border: 1px solid orange;
}

/* Rosso */
td.rosso input,
td.rosso select {
  font-weight: bold;
  background-color: #f8cccc;
  border: 1px solid red;
}

/* RESET delle option per tutte le classi di colore */
td.verde select option,
td.giallo select option,
td.arancione select option,
td.rosso select option,
select.verde option,
select.giallo option,
select.arancione option,
select.rosso option {
  color: #333;
  background-color: white;
  font-weight: initial;
}

/* -------------------------------------------- */
/* Media query per tema scuro */
@media (prefers-color-scheme: dark) {

  /* Corpo per tema scuro */
  body {
    background: linear-gradient(to bottom right, #181818, #333333);
    /* Tema scuro */
    color: #f4f4f4;
  }

  /* Titoli e testo */
  h1,
  h2 {
    color: #f4f4f4;
  }

  /* Form e input */
  input,
  select,
  textarea {
    background-color: #444;
    color: #f4f4f4;
    border-color: #555;
  }

  label {
    color: #f4f4f4;
  }

  /* Pulsanti */
  button {
    background-color: #4CAF50;
    color: white;
  }

  .button_negativo {
    background-color: #444;
    color: #007BFF;
    border-color: #007BFF;
  }

  .section {
    background-color: #333;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  }

  /* Tabella */
  table {
    background-color: #444;
    color: #f4f4f4;
  }

  th,
  td {
    border: 1px solid #555;
  }

  /* Accordion */
  .accordion {
    background-color: #444;
    color: #f4f4f4;
  }

  .active,
  .accordion:hover {
    background-color: #666;
  }

  .panel {
    background-color: #555;
  }

  /* Colorazioni per valori */
  .verde {
    background-color: #4b8f53;
  }

  .giallo {
    background-color: #f4e26b;
  }

  .arancione {
    background-color: #f2b400;
  }

  .rosso {
    background-color: #d9534f;
  }
}

/* Media query per schermi piccoli */
@media (max-width: 768px) {

  input[type="date"],
  input[type="time"] {
    width: fit-content;
    /* Mantieni la larghezza auto su schermi piccoli */
    font-size: 0.85rem;
    /* Ridurre ulteriormente la dimensione del font */
    padding: 5px;
    /* Ridurre l'imbottitura per risparmiare spazio */
  }
}